
@{
    ViewBag.Title = "Create";
}

<h2>Create Course</h2>

<form method="post">
    <input type="text" class="form-control" placeholder="Course name" name="CourseName" />
    <input type="text" class="form-control" placeholder="Course details" name="Details" />
    <input type="submit" class="btn btn-success" value="Create" />
</form>