﻿@model IntroMVC.Models.Referee[]

<h2>References</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Designation</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Desig</td>
        </tr>
    }
</table>