
@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>
<div class="container border bg-primary text-white my-3 p-3 text-center">
    <h1>@Model.id</h1>
    <h1>@Model.name</h1>
    <h1>@Model.details</h1>
</div>
