
@{
    ViewBag.Title = "Bio";
}

@*<h2>Bio</h2>
<hr />

<p>Name : Hasib</p>
<p>City : Dhaka</p>
<p>Religion : Islam</p>
<p>Age : 25</p>
<p>Birth place : Barishal</p>
<p>Hobby : Codding</p>

<a href="/portfolio/education">Education</a>
<hr />*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h2>Education</h2>
        <hr />
        <p>SSC : 2012</p>
        <p>HSC : 2014</p>
        <p>BSc : 2018</p>
        <p>MSc : 2020</p>
        <a href="/portfolio/bio">Bio</a>
    </div>

    <div>
        <h2>Experience</h2>
        <hr />
        <p>1 year</p>
        <p>2 year</p>
        <p>3 year</p>
        <p>4 year</p>
        <a href="/portfolio/skill">Skill</a>
    </div>

    <div>
        <h2>Skill</h2>
        <hr />
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
        <p>jQuery</p>
        <a href="/portfolio/bio">Bio</a>
    </div>
    <a href="/portfolio/education">Education</a>
</body>
</html>

