
@{
    ViewBag.Title = "Educaion";
}

<h2>Educaion</h2>
<hr />

<h3>SSC</h3>
<p>Year : 2016</p>
<p>Result : 5.00</p>
<p>Department :Science</p>
<p>School : Kakardha A K M Institutions</p>

<h3>HSC</h3>
<p>Year : 2019</p>
<p>Result : 4.67</p>
<p>Department :Science</p>
<p>College : Helaluddin College</p>

<h3>Undergraduate</h3>
<p>Year : Running</p>
<p>Result : 3.92</p>
<p>Department : CSE</p>
<p>University : AIUB</p>

<a href="/portfolio/bio/">Bio</a>
<hr />

